<template>
  <div class="register-user-component">
    <h1>IW - Register user</h1>
    <p></p>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.register-user-component {
  background-color: blueviolet;
  font-size: 22px;
}
</style>
