<template>
  <div style="border: 1px dashed green; padding: 10px; margin: 10px;">
    <h2>Modularize with composition function</h2>
    Capacity: {{ capacity }}
    <br>
    Spaces left: {{ spacesLeft }}
    <h3>Attending</h3>
    <ul>
      <li v-for="(name, i) in attending" :key="i">{{ name }}</li>
    </ul>
    <br>
    <button @click="increment">+</button>
    <button @click="decrement">-</button>
    <br>
    <input v-model="myText">
    <br>
    <p>{{ myText }}</p>
    <p> props: {{ props }}</p>
  </div>
</template>

<script>
import useEventSpace from '@/use/event-space'
import { ref } from 'vue'

export default {
  props: {
    user: {
      type: String,
      required: true
    }
  },

  setup (props, context) {
    console.log(props)
    const myText = ref('milos')
    return { ...useEventSpace(), myText }
  }
}

</script>

<style scoped lang="sass">
.code
  font-family: 'Courier New'
.code-highlight
  background-color: yellow
</style>
