<template>
  <div class="login-component login-component-brand1">
    <h1>Login Brand1</h1>
    <button>Login</button>
  </div>
</template>

<script>
export default {
  data () {
    return {

    }
  }
}
</script>

<style scoped>
.login-component-brand1 {
  background-color: yellowgreen;
}
</style>
