<template>
  <div class="login-component login-component-brand2">
    <h1>Login Brand2</h1>
    <button>Login</button>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.login-component {
  background: red;
  border: 2px dashed blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
</style>
