<template>
  <div class="about">
    <h1>This is an about page</h1>
    <Login></Login>
    <LoginBrand></LoginBrand>
  </div>
</template>

<script>
/* eslint-disable */
import Login from '@/components/Login.vue'
// import LoginBrand from '#@/components/brands/Login.Brand1.vue'
import LoginBrand from '#brand#@/components/Login.vue'

// import Wallet from '#wallet#@/components/Wallet.vue'



// import LoginBrand from '@/components/brands/Login.Brand1'
// import LoginBrand from `@/components/brands/Login.${process.env.VUE_APP_BRAND}`
// const loginComponentPath = `@/components/brands/Login.${process.env.VUE_APP_BRAND}.vue`
// const loginComponentPath = '@/components/brands/Login.Brand1.vue'
// console.log('loginComponentPath:', loginComponentPath)
// const LoginBrand = require(loginComponentPath).exports

// import LoginBrand from '@/components/brands/Login.Brand1.vue'

// const { default: LoginBrand } = await import('@/components/brands/Login.Brand1.vue')
// const { default: LoginBrand } = await import(`@/components/brands/Login.${process.env.VUE_APP_BRAND}.vue`)
// const { default: LoginBrand } = await import(`@/components/brands/Login.${process.env.VUE_APP_BRAND}.vue`)
// const { default: LoginBrand } = import(/* webpackMode: 'eager' */ `@/components/brands/Login.${process.env.VUE_APP_BRAND}.vue`)

// eslint-disable-next-line
// const { default: LoginBrand } = await import(/* webpackMode: 'eager' */ '@/components/brands/Login.Brand1.vue') // eslint-disable-line
// const LoginBrand = await import(/* webpackMode: 'eager' */ '@/components/brands/Login.Brand1.vue').default // eslint-disable-line
// debugger
// const { default: LoginBrand } = await import(/* webpackMode: 'eager' */ '@/components/brands/Login.Brand1.vue') // eslint-disable-line
// const { default: LoginBrand } = import(/* webpackIgnore: true */ /* webpackMode: 'eager' */ '@/components/brands/Login.Brand1.vue') // eslint-disable-line
// debugger
// const path = require('path')


// function getComponentPathInfo(componentPath) {
//   // let slashChar = ''
//   let lastSlash = componentPath.lastIndexOf('/')
//   if (lastSlash === -1) {
//     lastSlash = componentPath.lastIndexOf('\\')
//     if (lastSlash === -1) {
//       throw new Error('Unable to find slash in: ' + componentPath)
//     }
//   }
//   const directory = componentPath.substring(0, lastSlash + 1)
//   const filename = componentPath.substring(lastSlash + 1, componentPath.length)
//   return { filename, directory }
// }

// function getBrandedComponentPath(componentPath) {
//   const { filename, directory } = getComponentPathInfo(componentPath)
//   // debugger

//   // let extIndex = filename.lastIndexOf('.vue')
//   // if (extIndex === -1) {
//   //   return `${componentPath}.${process.env.VUE_APP_BRAND}`
//   // }
//   // debugger
//   var output = directory + 'brands/' + filename + '.' + process.env.VUE_APP_BRAND + '.vue'

//   return output
//   // return `${componentPath.substring(0, extIndex)}.${process.env.VUE_APP_BRAND}${componentPath.substring(extIndex)}`
// }

// async function importByBrand(componentPath) {
//   if (typeof componentPath !== 'string') {
//     throw Error('componentPath must be string')
//   }
//   if (componentPath.length === 0) {
//     throw new Error('componentPath must be non-empty')
//   }
//   const brandedComponentPath = getBrandedComponentPath(componentPath) //`${componentPath}.${process.env.VUE_APP_BRAND}`
//   // console.log('brandedComponentPath', brandedComponentPath)
//   console.log('importByBrand1:', brandedComponentPath)
//   console.log('importByBrand2:', `@/components/brands/Login.${process.env.VUE_APP_BRAND}.vue`)
//   console.log('compare:', `@/components/brands/Login.${process.env.VUE_APP_BRAND}.vue` === brandedComponentPath)
//   // return await import(/* webpackMode: 'eager' */ `@/components/brands/Login.${process.env.VUE_APP_BRAND}.vue`) // eslint-disable-line

//   // const { default: component } = await import(/* webpackMode: 'eager' */ `@/components/brands/Login.${process.env.VUE_APP_BRAND}.vue`) // eslint-disable-line
//   // return component
//   // const { default: component } = await import(/* webpackMode: 'eager' */ brandedComponentPath) // eslint-disable-line
//   // return component


//   let brandedComponentPath2 = `/brands/Login.${process.env.VUE_APP_BRAND}.vue`
//   const { default: component } = await import(/* webpackMode: 'eager' */ '@/components' + brandedComponentPath2) // eslint-disable-line
//   return component
// }




// const { default: LoginBrand } = await importByBrand('@/components/Login')
// const { default: LoginBrand } = await import(/* webpackMode: 'eager' */ '@/components/brands/Login' + '.Brand1.vue') // eslint-disable-line
// const { default: LoginBrand } = await import(/* webpackMode: 'eager' */ '@/components/brands/Login' + '.' +process.env.VUE_APP_BRAND+'.vue') // eslint-disable-line
// const { default: LoginBrand } = await import(/* webpackMode: 'eager' */ `@/components/brands/Login.${process.env.VUE_APP_BRAND}.vue`) // eslint-disable-line
// const { default: LoginBrand } = await import(/* webpackMode: 'eager' */ getBrandedComponentPath(`@/components/Login`)) // eslint-disable-line
// const { default: LoginBrand } = await importByBrand('./Login') // eslint-disable-line



// const LoginBrand = await importByBrand('./Login') // eslint-disable-line
// const LoginBrand = await importByBrand('@/components/Login') // eslint-disable-line
// const LoginBrand = await importByBrandEx('@/components/Login') // eslint-disable-line
// import LoginBrand from '@/components/brands/Login.Brand2.vue'
// import LoginBrand from '@/components/Login'


// async function myImport(modulePath) {
//   let lastSlash = componentPath.lastIndexOf('/')
//   const directory = componentPath.substring(0, lastSlash + 1)
//   const filename = componentPath.substring(lastSlash + 1, componentPath.length)

//   let brandedModulePath = `${directory}/brands/${process.env.BRAND}/${filename}`
//   debugger
//   console.log(brandedModulePath)
//   const { default: component } = await import(/* webpackMode: 'eager' */ brandedModulePath)
//   return component
// }

// const LoginBrand = await myImport('@/components/Module1') // eslint-disable-line


// console.log(this.importByBrand2)
// myWebpackGlobalFunc1()
// const brandedPath = '@/components/brands' + '/Login.' + process.env.VUE_APP_BRAND
// const { default: LoginBrand } = await import(/* webpackMode: 'eager' */ brandedPath) // eslint-disable-line
// const { default: LoginBrand } = await import(/* webpackMode: 'eager' */ '@/components/brands/Login.Brand1.vue') // eslint-disable-line

// const LoginBrand = await importByBrand('@/components/Login.vue')
// importByBrand('@/components/Login')

// console.log('BRAND:', process.env.BRAND)
// console.log('VUE_APP_BRAND:', process.env.VUE_APP_BRAND)
// console.log('VUE_APP_TITLE:', process.env.VUE_APP_TITLE)

export default {
  components: {
    Login,
    LoginBrand
  },

  data () {
    return {
      capacity: 3
    }
  },
  methods: {
    increment () {
      this.capacity++
    },
    decrement () {
      if (this.capacity > 0) {
        this.capacity--
      }
    }
  }
}
</script>
