<template>
  <div class="home" v-if="false">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>

  </div>
  <div>
    <Capacity />

    <!-- Composition API components -->
    <CapacityRef />
    <CapacityReactive />

    <CapacityModular cao="caos" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Capacity from '@/components/Capacity.vue'
import CapacityRef from '@/components/CapacityRef'
import CapacityReactive from '@/components/CapacityReactive'

import CapacityModular from '@/components/Modularizing/CapacityModular'

export default {
  name: 'Home',
  components: {
    HelloWorld,
    Capacity,
    CapacityRef,
    CapacityReactive,
    CapacityModular
  }
}
</script>
