<template>
  <div class="about">
    <h1>{{ walletName }}</h1>
    <!-- <Login></Login>
    <LoginBrand></LoginBrand> -->
    <button @click="login">Login</button>
    <br />
    <button @click="register">Register</button>

  </div>
</template>

<script>
// import Login from '@/components/Login.vue'
// import LoginBrand from '#brand#@/components/Login.vue'

// import Wallet from '#wallet#@/components/Wallet.vue'
import wallet from '#wallet#'

export default {
  components: {
  },
  computed: {
    walletName () {
      return wallet.name
    }
  },
  data () {
    return {

    }
  },
  methods: {
    async login () {
      try {
        await wallet.login()
      } catch (error) {
        console.log(error)
      }
    },
    async register () {
      try {
        await wallet.register()
      } catch (error) {
        console.log(error)
      }
    },

    increment () {
      this.capacity++
    },
    decrement () {
      if (this.capacity > 0) {
        this.capacity--
      }
    }
  }
}
</script>
