<template>
  <div style="border: 1px dashed red; padding: 10px; margin: 10px;">
    <h2>New syntax with <span class="code code-highlight">reactive()</span> </h2>
    <!-- no data.capacity just capacity -->
    Capacity: {{ capacity }}
    <br>
    <!-- no data.spacesLeft just spacesLeft -->
    Spaces left: {{ spacesLeft }}
    <h3>Attending</h3>
    <ul>
      <!-- no data.attending just attending -->
      <li v-for="(name, i) in attending" :key="i">{{ name }}</li>
    </ul>
    <br>
    <button @click="increment">+</button>
    <button @click="decrement">-</button>
  </div>
</template>

<script>
//
// same as Capacity2 but using toRef
//
//  toRefs() summary:
//    - import { toRefs } from 'vue'
//    - create reactive object: const data = reactive({})
//    - setup(): return { ...toRef(data), method1, method2 }
//    - in template use just data property names (ie. no prefix "data." eg. {{ capacity }} and not {{ data.capacity }})
//    - in code access properties on data object (ie. no sufix ".value", eg. data.capacity and not data.capacity.value)
//
import { reactive, computed, toRefs } from 'vue'

export default {
  setup (props, context) {
    const data = reactive({
      capacity: 3,
      attending: ['Tim', 'Bob', 'Joe'],
      spacesLeft: computed(() => {
        return data.capacity - data.attending.length
      })
    })

    // data properties are reactive and don't need to access their .value
    function increment () { data.capacity++ } // no .value
    function decrement () {
      if (data.capacity > data.attending.length) { // no .value
        data.capacity-- // no .value
      }
    }

    return { ...toRefs(data), increment, decrement }
  }
}
</script>

<style scoped lang="sass">
.code
  font-family: 'Courier New'
.code-highlight
  background-color: yellow

</style>
