<template>
  <div style="border: 1px dashed gray; padding: 10px; margin: 10px;">
    <h2>Old syntax</h2>
    Capacity: {{ capacity }}
    <br>
    <button @click="increment">+</button>
    <button @click="decrement">-</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      capacity: 3
    }
  },
  methods: {
    increment () {
      this.capacity++
    },
    decrement () {
      if (this.capacity > 0) {
        this.capacity--
      }
    }
  }
}
</script>

<style>

</style>
