<template>
  <div style="border: 1px dashed blue; padding: 10px; margin: 10px;">
    <h2>New syntax with <span class="code code-highlight">ref()</span> </h2>
    Capacity: {{ capacity }}
    <br>
    Spaces left: {{ spacesLeft }}
    <h3>Attending</h3>
    <ul>
      <li v-for="(name, i) in attending" :key="i">{{ name }}</li>
    </ul>
    <br>
    <button @click="increment">+</button>
    <button @click="decrement">-</button>
  </div>
</template>

<script>
//
// Composition API with ref()
//
//  ref() summary:
//    - import { ref } from 'vue'
//    - create Reactive Reference (RR) objects: const counter = ref(0)
//    - setup(): return { counter, method1, method2 }
//    - in template use just property names from returned object (ie. {{ counter }} and NOT  {{ counter.value }})
//    - in code use "value" property of RR object: (ie. capacity.value and NOT capacity)
//

import { ref, computed } from 'vue'

export default {
  setup (props, context) {
    const capacity = ref(3)
    const attending = ref(['Tim', 'Bob', 'Joe'])

    const spacesLeft = computed(() => {
      return capacity.value - attending.value.length
    })

    function increment () { capacity.value++ }
    function decrement () {
      if (capacity.value > attending.value.length) {
        capacity.value--
      }
    }

    return { capacity, increment, decrement, attending, spacesLeft }
  }
}
</script>

<style scoped lang="sass">
// // li
// //   margin: auto
// ul
//   text-align: left
//   display: flex
//   flex-direction: column
//   // justify-items: center
//   justify-content: center
//   list-style-position: inside
// li
//   margin: 0 auto
//   text-align: left
.code
  font-family: 'Courier New'
.code-highlight
  background-color: yellow
</style>
