<template>
  <div class="login-component">
    <h3>Vue login base</h3>
    <button>{{ btnText }}</button>
  </div>
</template>

<script src="./Login.js">

</script>

<style scoped>
@import '#brand#./Login.css'
</style>

<style scoped>

.login-component {
  background-color: yellow;
}
</style>
